@charset "utf-8";

a{
    text-decoration: none;
    color: inherit;
}
.title{
    text-align: center;
}
table{
    margin:0 auto;
}
td{
    width: 20px;
    height: 20px;
    border: none;
    background: rgb(255, 228, 178);
    box-sizing: border-box;
}


